<nav th:fragment="navbar" xmlns:th="http://www.w3.org/1999/xhtml"
     class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <li class="nav-item">
        <a class="navbar-brand" target="_blank" href="">PASO 2023</a>
    </li>
    <button class="navbar-toggler" type="button" id="botonMenu">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="menu">

        <ul class="navbar-nav mr-auto">
            <li class="dropdown" th:if="${role == 'FISCALES'}">
                <a class="nav-link" style="color: white;" th:href="@{/cierremesa/}">Cerrar mesa</a>
            </li>
            <li class="dropdown" th:if="${role == 'FISCALES'}">
                <a class="nav-link" style="color: white;" th:href="@{/cierremesa/mostrar}">Mi carga</a>
            </li>
            <li class="dropdown" th:if="${role == 'FISCALES'}">
                <a class="nav-link" style="color: white;" th:href="@{/boletavalida/}">Boleta</a>
            </li>
            <li class="dropdown" th:if="${role == 'FISCALES'}">
                <a class="nav-link" style="color: white;" th:href="@{/ayudacierre/}">Sugerencias</a>
            </li>
        </ul>
    </div>
    <div style="margin-right: 10px; color: white;">
                Usuario: <span th:text="${userName}"></span>
    </div>

    <form th:action="@{/logout}" method="get">
        <button class="btn btn-md btn-danger btn-block" name="registration"
                type="Submit">Cerrar sesión
        </button>
    </form>
</nav>