<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="master">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Tus enlaces a los archivos CSS y scripts aquí -->

    <style>
        body {
            font-size: 16px;
        }

        h2 {
            font-size: 24px;
        }

        .alert {
            margin-top: 10px;
            font-size: 18px;
        }

        .table-responsive {
            overflow-x: auto;
        }

        .table {
            font-size: 14px;
        }

        .table th,
        .table td {
            padding: 10px;
        }

        .btn {
            font-size: 14px;
            padding: 5px 10px;
        }
    </style>
</head>
<body style="padding-top: 0px;">
<main layout:fragment="contenido">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>SUGERENCIA CIERRE DE COMICIO</h2>
                <div th:classappend="'alert-' + (${clase != null} ? ${clase} : info)" th:if="${mensaje != null}"
                     th:text="${mensaje}"
                     class="alert">
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Paso</th>
                            <th>Observación</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>Al abrir la urna <br>
                                la cantidad de sobres<br>
                                cerrados debe coincidir<br>
                                con la cantidad de votantes<br>
                                que asistieron y que están<br>
                                marcados en el padrón.</td>
                            <td><span style="color: green; font-size: 18px;"> &#10004;</span></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Al abrir cada sobre<br>
                                observá que no contenga<br>
                                objetos extraños que<br>
                                podrían hacer nulo el voto.</td>
                            <td><span style="color: green; font-size: 18px;"> &#10004;</span></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>La categoría que tenga<br>
                                una leyenda escrita<br>
                                es nula.<br>
                                No cuentan las tachaduras,<br>
                                solo leyendas o inscripciones.</td>
                            <td><span style="color: green; font-size: 18px;"> &#10004;</span></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>La categoría que tenga<br>
                                mas de dos boletas<br>
                                para el mismo cargo es nula.</td>
                            <td><span style="color: green; font-size: 18px;"> &#10004;</span></td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>La categoría que este<br>
                                rota o tachada y <br>
                                no permita ver la lista<br>
                                y el nombre de la agrupación<br>
                                es nula.</td>
                            <td><span style="color: green; font-size: 18px;"> &#10004;</span></td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>La boleta no oficializada<br>
                                es nula. <br>
                                Pedir al presidente de mesa<br>
                                la lista de boletas oficiales<br>
                                para comparar en <br>
                                caso necesario.</td>
                            <td><span style="color: green; font-size: 18px;"> &#10004;</span></td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>El sobre totalmente vacío<br>
                                es considerado voto en blanco.</td>
                            <td><span style="color: green; font-size: 18px;"> &#10004;</span></td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>A medida que se van abriendo<br>
                                los sobres y revisando su<br>
                                contenido de voto,<br>
                                es importante ordenar los votos<br>
                                por categorias y listas<br>
                                para facilitar el recuento<br>
                                en el paso siguiente.</td>
                            <td><span style="color: green; font-size: 18px;"> &#10004;</span></td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>Se recomienda utilizar<br>
                                una de las planillas <br>
                                para ir marcando el recuento<br>
                                por cada categoría<br>
                                lista por lista.<br>
                                No es recomendable <br>
                                utilizar el pizarrón.</td>
                            <td><span style="color: green; font-size: 18px;"> &#10004;</span></td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>Al finalizar el recuento<br>
                                de todas las listas y categorías,<br>
                                se recomienda colocar<br>
                                los votos nulos.</td>
                            <td><span style="color: green; font-size: 18px;"> &#10004;</span></td>
                        </tr>
                        <tr>
                            <td>11</td>
                            <td>Luego de agregar los votos<br>
                                nulos se recomienda agregar<br>
                                los votos impuganos,<br>
                                si es que hubo.</td>
                            <td><span style="color: green; font-size: 18px;"> &#10004;</span></td>
                        </tr>
                        <tr>
                            <td>12</td>
                            <td>Ahora solo nos queda restar<br>
                                al total de sobres<br>
                                que contamos al principio,<br>
                                la cantidad de votos nulos<br>
                                e impugnados, y eso nos da<br>
                                la cantidad de votos en blanco<br>
                                de cada categoría.</td>
                            <td><span style="color: green; font-size: 18px;"> &#10004;</span></td>
                        </tr>
                        <tr>
                            <td>13</td>
                            <td>Para que nuestra planilla<br>
                                de fiscales sea válida<br>
                                necesitamos la firma<br>
                                del presidente de mesa<br>
                                y de los otros fiscales<br>
                                presentes en ese momento<br>
                                de cierre.</td>
                            <td><span style="color: green; font-size: 18px;"> &#10004;</span></td>
                        </tr>
                        <tr>
                            <td>14</td>
                            <td>Como último paso, carguemos<br>
                                los datos en el menú de cierre<br>
                                colocando la cantidad de votos<br>
                                de la categoría de presidente<br>
                                para Libertad Avanza y adjuntemos<br>
                                la foto de la planilla.</td>
                            <td><span style="color: green; font-size: 18px;"> &#10004;</span></td>
                        </tr>
                        <tr>
                            <td>15</td>
                            <td>Presionemos enviar<br>
                                y fijemosnos en el menú<br>
                                Mi carga, que se haya enviado.</td>
                            <td><span style="color: green; font-size: 18px;"> &#10004;</span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <!--<div id="boleta-container">
                    <img th:src="@{/images/boleta.png}" class="img-responsive center-block" alt="Logo" />
                </div>-->

            </div>
        </div>
    </div>
</main>
</body>
</html>
