<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="master">
<body style="padding-top: 0px;">
<main layout:fragment="contenido">
    <div class="col-12">
        <h2>Cerrar Mesa</h2>
        <div th:classappend="'alert-' + (${clase != null} ? ${clase} : info)" th:if="${mensaje != null}"
             th:text="${mensaje}"
             class="alert">
        </div>
        <form th:object="${cierremesa}" th:action="@{/cierremesa/agregar}" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label>Distrito</label>
                <select class="form-control" id="dropDownList" th:field="*{distrito}">
                    <option value="0">Elija uno</option>
                    <option th:each="distrito : ${distritos}" th:value="${distrito}" th:text="${distrito}"></option>
                </select>
            </div>
            <div class="form-group">
                <label for="numerocircuito">Numero Circuito</label>
                <input autocomplete="off" autofocus th:field="*{numeroCircuito}" id="numerocircuito"
                       placeholder="Solo el numero" type="number"
                       class="form-control">
            </div>
            <div class="form-group">
                <label for="numeroseccion">Numero Seccion</label>
                <input autocomplete="off" autofocus th:field="*{numeroSeccion}" id="numeroseccion"
                       placeholder="Solo el numero" type="number"
                       class="form-control">
            </div>
            <div class="form-group">
                <label for="cantidadVotos">Cantidad Votos Libertad Avanza Presidente</label>
                <input autocomplete="off" autofocus th:field="*{cantidadVotosLibertadAvanza}" id="cantidadVotos"
                       placeholder="Solo el numero" type="number"
                       class="form-control">
            </div>

            <div class="form-group">
                <label for="imageInput">Cargar Imagen</label>
                <input type="file" accept="image/*" id="imageInput" name="imageFile">
                <img id="uploadedImage" style="max-width: 99%;" alt="Imagen Cargada" th:src="${cierremesa.fotoBase64}">
            </div>

            <script>
                const imageInput = document.getElementById('imageInput');
                const uploadedImage = document.getElementById('uploadedImage');

                imageInput.addEventListener('change', () => {
                    const file = imageInput.files[0];
                    if (file) {
                        const reader = new FileReader();
                        reader.onload = (event) => {
                            uploadedImage.src = event.target.result;
                        };
                        reader.readAsDataURL(file);
                    }
                });
            </script>






            <br>
            <br>
            <div  style="text-align: center">
            <button class="btn btn-lg btn-block" style="background-color: #8a67ab; border-color: #8a67ab; color: #fff;" type="submit">Enviar</button>
            </div>
        </form>
    </div>
</main>
</body>
</html>